* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
 
html,
body {
    width: 100%;
    height: 100%;
}

#land{
    background-color: white;
    color: rgba(135, 207, 235, 0.382);
    margin: 2vw;
    height: 5em;
    width: 5em;
}

#pg{
    background-color: white;
    font-weight: 800;
    letter-spacing: 0.2em;
}
h1{
    color: black;
    border: solid whitesmoke;
    text-shadow: #8d979f;
}

.over{
    background-color: black;
    padding-top: 1vw;
    position: absolute;
    width: 100%;
    height: 9vh;
    opacity: 75%;
} 

.nav {
    padding-top: 5em;
    background-color: black;
    /* padding:0.75em; */
    /* opacity: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    /* text-shadow: 10ch; */
    /* margin-right:5vw; */
}    

.outer {
    /* background-color: white; */
    /* position: relative; */
    display: flex;
    /* justify-content: flex-start; */
    gap: 2vw;
    margin-right: 3.2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
    /* opacity: 90%; */
}

.land{
    /* background-color: bisque;*/
    margin-left: 2em;
    position: relative;
    margin: 1.5vw;
    text-shadow: 1vh;
    text-decoration: solid;
    color:black;
} 

.child{
    background-color:rgba(140, 98, 26, 0.16);
    color: white;
    margin:2vw;
    /* font-size: 1.2rem; */
    font-weight: bold;
    /* padding:0.2em; */
    height: 1.25em;
    /* border: solid whitesmoke; */
    /* padding-bottom: 1.5em; */
}

body {
    background-color: rgb(0, 0, 0);
}

.mid{
    display: flex;
}

.midright{
    width: 100%;
    height: 80vh;
    color:white;
    background-image: url("left.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75%;
    /* background-color: aliceblue; */
}

.white{
    color: rgba(245, 245, 245, 0.423);
    font-size: 3em;
}

.midleft{
    /* background-color: aquamarine; */
    width: 100%;
    height: 80vh;
}

.landed{
background-color: rgba(245, 245, 245, 0.9);
color: #000;
border: none;
}

.heading{
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6em;
    padding-top: 5vh;
    margin: 1em;
    border: none;
    /* background-color: aliceblue; */
}

.para{
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* padding-top: 5vh; */
    margin-top: 3em;
    margin-left: 6em;
    margin-right: 6em;
    /* background-color: aliceblue; */
    font-size: medium;
    text-align: justify;
    font-weight: 400;
    line-height: 1.75rem;
}

.contact
{   
    color:white;
    background-color: rgba(255, 255, 255, 0.067);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.58em;
    margin-top: 2.5em;
}

/* .con{
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-right: 0.5em;
    background-color: rgb(255, 255, 255);
} */

child a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* background-color: black; */
} 

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* color: rgba(255, 255, 255, 0.355); */
    /* background-color: black; */
}

.my-button {
/* background-color: rgba(255, 255, 255, 0.678); */
color: white; 
/* margin-right: 6em;
margin-left: 6em; */
}

/* Hover Effect */
.my-button:hover {
    background-color: #8d979f;
    border-radius:10%;
}

/* Click Animation */
.my-button:active {
    transform: scale(0.95);
}

.end{
    background-color:whitesmoke;
    width: 100%;
    height: 8.52vh;
    opacity: 5%;
}

.el{
    margin-right: 2em;
    font-size: 2em;
    color: white;
    /* background-color: #f6fbff; */
}

#my-button{
    margin-top: 2.5em;
    width: 13em;
    height:4em;
    color:white;
    padding:1em 2.5em;
    /* border-radius: 10%; */
    border-color: white;
    margin-left: 6em;
    border: solid;
}

h3{
    padding-left: 39em;
}
